<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonials</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>
    <div class="body-container">
      <header>
        <nav>
          <ul class="name-header">
            <li><a href="./index.html"> N. Solennel</a></li>
          </ul>
          <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>
          <div class="navbar-links">
            <ul class="nav-items">
              <li class="nav-item nv-ln">
                <a class="nav-link" href="./index.html"> Home</a>
              </li>
              <li class="nav-item nv-ln">
                <a class="nav-link" href="./portfolio.html"> Work</a>
              </li>
              <li class="nav-item nv-ln">
                <a class="nav-link" href="./about.html">About</a>
              </li>
              <li class="nav-item nv-ln">
                <a class="nav-link" href="./testimonials.html"
                  ><span class="underline"> Testimonials </span>
                </a>
              </li>
              <li class="nav-item nv-ln">
                <a class="nav-link" href="./blog.html">Blog</a>
              </li>
              <li class="nav-item">
                <button class="btn-git">
                  <a class="contact-nav" href="./contact.html">CONNECT</a>
                </button>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <main class="t-main">
      <center>
        <section>
          <h1 class="page-title">Testimonials</h1>
          <div class="test-cont">
            <div class="testimony1 test">
              <div class="description1 testdesc">
                <p>
                  Not only was Ian’s work on-time and to spec, he pays attention
                  to improve the aesthetics of the site as well as the
                  functionality. Throughout the entire process he is responsive,
                  and willing to work through issues as they arise. It’s obvious
                  he takes tremendous pride in his work, and I wouldn’t hesitate
                  to recommend or work with him again.
                </p>
              </div>
              <div class="pow1">
                <img src="../../public/Images/penplateTestimonials.webp" alt="" />
                <p>Renaldo Webb <br /><span> Pen Plate</span></p>
              </div>
            </div>
            <div class="testimony2 test">
              <div class="pow1">
                <img src="../../public/Images/bridge-creative-logo.webp" alt="" />
                <p>Adam Houston <br /><span> Bridge Creative</span></p>
              </div>
              <div class="description1 testdesc">
                <p>
                  Working with Ian was better than expected and we had really
                  high expectations. He is an incredibly talented developer but
                  what really makes him stand out is his work ethic and steady
                  approach. Time after time, and without us asking, he added
                  enhancements and improvements that resulted in a better end
                  product for us and our clients.
                </p>
              </div>
            </div>
            <div class="testimony1 test">
              <div class="description1 testdesc">
                <p>
                  We have the fortune of working with Solennel on a very regular
                  basis. Every single project is done in a timely fashion and is
                  delivered exactly as is outlined. Beyond that, his development
                  skills and expertise make him an invaluable part of our
                  process. We absolutely offer our highest possible
                  recommendation.
                </p>
              </div>
              <div class="pow1">
                <img src="../../public/Images/r3mx-logo.webp" alt="" />
                <p>Douglas Berger <br /><span> R3MX</span></p>
              </div>
            </div>
            <div class="testimony2 test">
              <div class="pow1">
                <img src="../../public/Images/wiley-logo.webp" alt="" />
                <p>Chris Webb <br /><span> John Wiley & Sons, Inc</span></p>
              </div>
              <div class="description1 testdesc">
                <p>
                  Ian has crafted a beautiful work that is as practical as it is
                  inspirational. With CSS3 Foundations, Ian has taken what is
                  often a confusing subject and made it not only accessible to
                  beginners, but also valuable to practitioners who are looking
                  for guidance on the latest CSS techniques.
                </p>
              </div>
            </div>
            <div class="testimony1 test">
              <div class="description1 testdesc">
                <p>
                  We have been developing websites since 1994. When advancements
                  in web technology passed our skill levels we hired various
                  developers, but there was always a certain amount of
                  monitoring and adjustment required to achieve the proper
                  result. Working with Ian has been a refreshing change. Ian is
                  an authority on web development and is clearly in the upper
                  percentile in terms of developer qualifications. Ian's
                  invaluable suggestions and improvements helped create a
                  stable, cross platform site.
                </p>
              </div>
              <div class="pow1">
                <img src="../../public/Images/greedypeg-logo.webp" alt="" />
                <p>Greg Colby <br /><span> Greedy Peg</span></p>
              </div>
            </div>
          </div>
        </section>
      </main></center>
      <hr class="h-line" />
      <footer>
        <div class="flexed">
          <section class="foot-obj">
            <div class="img">
              <img src="../../public/Images/profile.jpg" alt="" />
              <p class="pro-title">
                Full Stack <br />
                Web Developer
              </p>
              <p class="f-img-desc">
                AVAILABLE AS OF <span>DECEMBER</span>
                <span class="hirenow"
                  ><a href="./contact.html"> HIRE NOW ></a></span
                >
              </p>
            </div>
          </section>
          <section class="foot-obj">
            <div class="fcols mediaspot">
              <div class="media-item">
                <p class="media-desc">
                  <i class="fab fa-twitter"></i>
                  <span class="media">Twitter</span><br />
                  <span class="none-300">
                    Follow for web design & development articles, opinions, and
                    links
                  </span>
                </p>
              </div>
              <div class="media-item">
                <p class="media-desc">
                  <i class="fab fa-github"></i>
                  <span class="media">Github</span><br />
                  <span class="none-300">
                    Follow for open-source projects such as Hover.css,
                    Sequence.js, and jQuery Parallax</span
                  >
                </p>
              </div>
              <div class="media-item">
                <p class="media-desc">
                  <i class="fab fa-linkedin"></i>
                  <span class="media">LinkedIn</span><br /><span
                    class="none-300"
                  >
                    Follow for open-source projects such as Hover.css,
                    Sequence.js, and jQuery Parallax</span
                  >
                </p>
              </div>
            </div>
            <div class="links fcols">
              <ul class="link-items">
                <li>
                  <p>
                    <span><a href="./about.html">ABOUT</a> </span><br />Learn
                    about Solennel's skills and workflow
                  </p>
                </li>
                <li>
                  <p>
                    <span><a href="./portfolio.html">PORTFOLIO</a> </span><br />
                    View Solennel’s previous work
                  </p>
                </li>
                <li>
                  <p>
                    <span><a href="./testimonials">TESTIMONIALS</a></span
                    ><br />Read client recommnedations
                  </p>
                </li>
                <li>
                  <p>
                    <span><a href="./blog.html">BLOG</a></span
                    ><br />Read web related articles, opinions & tutorials
                  </p>
                </li>
                <li>
                  <p>
                    <span><a href="./contact.html">GET IN TOUCH</a></span
                    ><br />Send a general message
                  </p>
                </li>
                <li>
                  <p>
                    <span><a href="./contact.html">HIRE Solennel</a> </span
                    ><br />Enquire about hiring Solennel
                  </p>
                </li>
              </ul>
            </div>
          </section>
        </div>

        <p class="foot-end">Based in Kigali, Rwanda</p>
        <p class="foot-end">
          Copyright &copy; <span>2022</span> Ngabo Solennel Ltd.
        </p>
      </footer>
    </div>
    <script src="../../public/js/slider.js"></script>
  </body>
</html>
